{% extends "bootstrap/base.html" %}
{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% for game in games %}
		<div class="panel panel-default">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          {{ game.timestamp }}
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        {{ game.win }}
		      </div>
		    </div>
		  </div>
	{% endfor %}
{% endblock %}